html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: LogoFont;
  src: url(/css/BebasNeue-Regular.ttf);
}

body {
  font-family: 'Oswald', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
  background-color: orange;
}

ul {
  list-style-type: none;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: mintcream;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: Orange;
  text-decoration: underline;
}

.logo {
  font-family: LogoFont;
  color: Orange;
  background-color: #333;
  font-size: 30px;
  margin-top: 5px;
}

.hero-image {
  width: auto;
  margin-left: 80px;
  margin-right: 80px;
  height: 300px;
  background-image: url(Pizza_Party_Logo-banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-attachment: unset;
  display: flex;
  align-items: center;
}

.banner-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 40px;
}

.banner-text h1 {
  font-size: 38px;
  margin-top: -200px;
  font-family: Garamond, serif;
  color: #eeff1b;
  -webkit-text-stroke: 1px #FF4500;
}
